* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.logo img {
    width: 200px;
    height: 50px;
}

.admin-container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #212327;
    color: rgb(255, 255, 255);
    padding: 20px;
}

    .sidebar h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .sidebar ul {
        list-style: none;
        padding-top: 9px;
    }

        .sidebar ul li {
            margin: 10px;
            font-size: 20px;
            color: rgb(255, 255, 255);
            text-decoration: none;
            display: block;
            padding: 10px;
            border-radius: 4px;
            transition: background-color 0.3s;
            cursor:pointer;
        }

            .sidebar ul li:hover {
                background-color: #ff0a0a;
            }

.main-content {
    flex-grow: 1;
    background-color: white;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logout-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

    .logout-btn:hover {
        background-color: #ff3333;
    }

.content {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
}
/* Cài đặt chung cho nút */
button {
    margin: 3px;
    padding: 8px 16px; /* Giảm padding để nút nhỏ hơn */
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px; /* Giảm kích thước font */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

    button:hover {
        background-color: cornflowerblue;
        transform: translateY(-2px);
    }

    button:active {
        transform: translateY(0);
    }


/* Cài đặt cho các input */
input[type="text"],
input[type="number"],
select {
    margin: 3px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

    input[type="text"]:focus,
    input[type="number"]:focus,
    select:focus {
        border-color: #007bff;
        outline: none;
    }

input::placeholder {
    color: #aaa;
}

/* Căn chỉnh khoảng cách giữa các form và bảng */
.form-group, .table-container {
    margin-bottom: 20px;
}

/* Phong cách bảng */
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f7f7f7;
    color: #333;
    font-weight: bold;
}

td {
    background-color: #fff;
}

tr:nth-child(even) td {
    background-color: #f9f9f9;
}